
*{
  margin: 0;
  padding: 0;
}
.hiSlider{
  overflow: hidden;
  height: 400px;
  width: 500px;
  background: #eee;
  padding: 0;
}
.hiSlider-item{
  float: left;
}
li{
  list-style: none;
}
li img{
  display: block;
  margin: 0 auto;
  max-height: 500px;
  background-repeat: no-repeat;
}
#wrap{
  min-width: 300px;
  /*margin: 10px auto 10px;*/
  background: #fefefe;
}
.super-heading{
  font-size: 1200%;
  font-family: serif;
  text-align: center;
  /*color: #00cccc;*/
  color:white;
  margin-top: 100px;
  margin-bottom: 50px;
}
.index-heading{
  font-size: 800%;
  margin-bottom: 0px;
}

.home-image{
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.nav{
  background-color: none;
}
.nav-li{
  margin: 0 18px;
  font-size: 200%;
  /*color: orange;*/
  color: darkblue;
  text-align: center;
  font-family: fantasy;
  border: 5px solid;
  border-color: white;
  border-radius: 10px;
  background-color: lightblue;
}
.nav-li:hover{
  position: relative;
  bottom: 10px;
  background-color: yellow;
}
.main{
  margin-top: 50px;
  background-color: white;
  width: 100%;
  padding: 100px;
  /*background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff)); */
  background: -webkit-linear-gradient(top, #fff, #696969);
}
.welcome{
  color: blue;
  font-size: 500%;
  text-align: center;
}

/*footer*/
#footer {
	background-color: #eee;
	border-top: 1px solid #d8d8d8;
	padding: 30px 0;
}
#footer p {
	font-size: 12px;
	line-height: 30px;
	padding-left: 10px;
}
#connect {
	float: right;
	display: inline-block;
	margin-right: 30px;
}
#connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0 10px;
}
#connect a.googleplus {
	background-position: 0 -40px;
}
#connect a.twitter {
	background-position: 0 -80px;
}
#connect a.tumbler {
	background-position: 0 -120px;
}
#connect a.facebook:hover {
	background-position: -40px 0;
}
#connect a.googleplus:hover {
	background-position: -40px -40px;
}
#connect a.twitter:hover {
	background-position: -40px -80px;
}
#connect a.tumbler:hover {
	background-position: -40px -120px;
}



/*pokemon*/
.photo-main{
  list-style: none;
  position: relative;
  border: 15px;
  border-style:groove;
  padding: 50px;
  background-color: white;
}

.photo-unit{
  padding:20px;
  border: 3px;
  border-style: dotted;
  border-color: grey;
}

.pok-title{
  text-align: center;
}

/*experience*/

.main-experience{
  list-style: none;
  position: relative;
  border: 15px;
  border-style:groove;
  padding: 50px;
  background-color: white;
}

.main-experience::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: grey;
  left: 50%;
  margin-left: -1.5px;
}

.timeline-li{
  margin-bottom: 20px;
  position: relative;
  display: table;
}

.timeline-body {
  width: 45%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-badge{
  width: 40px;
  height: 40px;
  line-height: 50px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  z-index: 100;
  border-radius: 50%;
  border: 3px solid grey;
}

.timeline-badge-study{
  background-color: green;
}

.timeline-badge-intern{
  background-color: yellow;
}

.timeline-badge-research{
  background-color: blue;
}

.timeline-even>.timeline-body{
  float:right;
}

/*About me*/



#about{
  text-align: center;
  font-family: Georgia,fantasy,sans-serif,cursive;
  font-size: 300%;
  color: black;
  margin: 50px;
}
.about-main{
  border: 15px;
  border-style:groove;
  padding: 50px;
  background-color: white;
}

.about-sub{
  margin: 100px;
}

.about-content{
  /*border: 2px solid;*/
  margin: 0 50px;
}
.about-p{
  font-size: 20px;
}
/*.about-img{
  margin: 50px;
}*/

.about-sub-title{
  text-align: center;
}


/*skill*/
#skill{
  text-align: center;
  font-family: Georgia,fantasy,sans-serif,cursive;
  font-size: 300%;
}
.skill-main{
  border: 15px;
  border-style:groove;
  padding: 50px;
  background-color: white;
}

progress {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-top: 1px #aaa solid;
  background-color: #eee;
}
progress::-webkit-progress-bar { background-color: #d7d7d7; }

progress:hover::-webkit-progress-value{
  background-color: yellow;
}

.Pro_title{
  font-style: italic;
}
.prog{
  padding: 20px;
}

.prog_label{
  text-align: center;
  font-size: 150%;
}
.inter_skill{
  margin: 50px;
}
.pro_skill::-webkit-progress-value { background-color: orange; }
.lan_skill::-webkit-progress-value { background-color: lightblue; }
.oth_skill::-webkit-progress-value { background-color: #339900; }
