
*{
  margin: 0;
  padding: 0;
}

.super-heading{
  font-size: 1200%;
  font-family: serif;
  text-align: center;
  /*color: #00cccc;*/
  color:white;
  margin-top: 100px;
  margin-bottom: 50px;
}
.index-heading{
  font-size: 800%;
  margin-bottom: 0px;
}

.home-image{
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.top{
  position: fixed;
  right: 0;
  bottom:100px;
  height: 60px;
  width: 35px;
  font-weight: bolder;
  background-color: white;
  color: black;
  border-radius: 10%;
  text-align: center;
  border: 1px solid;
}

/*nav*/
.nav-ul{
  border-top:1px solid;
  border-color: white;
}

.nav-li{
  font-size: 200%;
  color: white;
  text-align: center;
  font-family: fantasy;
  border-color: white;
}
.cur-page{
  border-top: 3px solid;
  border-color: white;
}

.nav-li:hover{
  border-top: 3px solid;
  border-color: white;
  opacity: 0.2;
}
@media screen and (max-width: 768px){
  .nav-li:hover{
    border: none;
  }
  .cur-page{
    border: none;
    border: 3px solid;
  }
}


/*body*/
.main{
  margin-top: 50px;
  background-color: white;
  width: 100%;
  padding: 100px;
  /*background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff)); */
  background: -webkit-linear-gradient(top, #fff, #696969);
}
.wel{
  margin-bottom: 100px;
}
.welcome{
  color: white;
  font-size: 500%;
  text-align: center;
}

/*index*/
.index-content{
  margin-top: 200px;
}
.form-name{
  display: block;
  margin: 0 auto;
}
input{
  display: block;
  height: 80px;
  font-size: 300%;
  margin: 0 auto;
}

/*photo frame*/
.slider-div{
  background-color:rgba(255,255,255,0.15);
  padding: 100px;
}

.slider{
  color: white;
  font-size: 300%;
  text-align: center;
  font-family: fantasy;
}
li{
  list-style: none;
}
li img{
  display: block;
  margin: 0 auto;
  max-height: 500px;
}

#wrap{
  width: 30%;
  min-width: 300px;
  margin: 100px auto 0px;
  background: none;
}
.hiSlider{
  overflow: hidden;
  height: 500px;
  width: 500px;
  background: none;
}

#sl-link{
  font-size: 50%;
  color: white;
  font-family: serif;
}

/*footer*/
footer{
  background-color: white;
}
.social{
  float: right;
}
.face{
  padding: 30px;
}
.instagram{
padding: 30px;
}
.twitter{
padding: 30px;
}
.email{
padding: 30px;
}
.copyright{
  font-size: 150%;
  margin-top: 80px;
  text-align: center;
}

@media screen and (max-width: 1000px){
  .slider{
    font-size: 200%;
  }
  .welcome{
    font-size: 300%;
  }
  input{
    height: 50px;
    font-size: 200%;
  }
}
/*pokemon*/

.photo-main{
  list-style: none;
  position: relative;
  border: 15px;
  border-style:groove;
  padding: 5%;
  background-color: white;
}

.photo-unit{
  padding:20px;
}

.pok-title{
  text-align: center;
}

/*experience*/

.main-experience{

  list-style: none;
  position: relative;
  border: 15px;
  border-style:groove;
  padding: 50px;
  padding-top: 100px;
  background-color: white;
}

.main-experience::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: grey;
  left: 50%;
  margin-left: -1.5px;
}
.timeline-li{
  margin-bottom: 20px;
  position: relative;
  display: table;
}

.timeline-body {
  width: 45%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-badge{
  width: 40px;
  height: 40px;
  line-height: 50px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  z-index: 100;
  border-radius: 50%;
  border: 3px solid grey;
}

.timeline-badge-study{
  background-color: #7CFC00;
}

.timeline-badge-intern{
  background-color: #EEEE00;
}

.timeline-badge-research{
  background-color: #7B68EE;
}

.timeline-even>.timeline-body{
  float:right;
}
@media screen and (max-width: 1000px){
  .timeline-even>.timeline-body{
    float:left;
  }
  .timeline-body {
    width: 80%;
  }
  .main-experience::before {
    left:90%;
  }
  .timeline-badge{
    left:90%;
    width: 30px;
    height: 30px;
    margin-left: 23px;
  }
}
@media screen and (max-width: 600px){
  .timeline-body {
    width: 100%;
  }
  .main-experience::before {
    display: none;
  }
  .timeline-badge{
    display: none;
  }
}


/*About me*/
#about{
  text-align: center;
  font-family: Georgia,fantasy,sans-serif,cursive;
  font-size: 300%;
  color: black;
  margin: 50px;
}
.about-main{
  border: 15px;
  border-style:groove;
  padding: 50px;
  background-color: white;
}

.about-intro{
  margin-bottom: 100px;
}

.about-sub{
  padding: 100px;
  margin-bottom: 200px;
  text-align: center;
}

.about-content{
  /*border: 2px solid;*/
  margin: 0 50px;
}
.about-p{
  font-size: 20px;
}
/*.about-img{
  margin: 50px;
}*/
.about-sub-title{
  text-align: center;
}
@media screen and (max-width: 970px){
  .about-intro{
    margin-bottom: 0;
  }
  .about-sub{
    padding: 0;
  }
}


/*skill*/
#skill{
  text-align: center;
  font-family: Georgia,fantasy,sans-serif,cursive;
  font-size: 300%;
}
.skill-main{
  border: 15px;
  border-style:groove;
  padding: 50px;
  background-color: white;
}

progress {
  height: 30px;
  border-radius: 5px;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-top: 1px #aaa solid;
  background-color: #eee;
}
progress::-webkit-progress-bar { background-color: #d7d7d7; }

progress:hover::-webkit-progress-value{
  background-color: yellow;
}

.Pro_title{
  font-style: italic;
}
.prog{
  padding: 20px;
}

.prog_label{
  text-align: center;
  font-size: 150%;
}
.inter_skill{
  margin: 50px;
}
.pro_skill::-webkit-progress-value { background-color: orange; }
.lan_skill::-webkit-progress-value { background-color: lightblue; }
.oth_skill::-webkit-progress-value { background-color: #339900; }
